<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Informação do Veículo:
    {% for veiculo in veiculos %}
        <p>ID: {{ veiculo.id }}</p>
        <p>Modelo: {{ veiculo.name }}</p>
        <p>Cor: {{ veiculo.cor }}</p>
        <p>Ano: {{ veiculo.ano }}</p>
        {% if veiculo.moto %}
            <p>O veiculo é uma motocicleta!</p>
        {% endif %}
    {% endfor %}
    <a href="/" type="button" class="btn btn-primary">voltar</a>
</body>
</html>