<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Veiculo</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form action="/newgs" method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <th width="200">
                        <h1>Nova Garagem</h1>
                    </th>
                </tr>
                <tr>
                    <th width="200">
                        Ao clicar em "nova garagem", você estará adiquirindo a próxima garagem vazia.
                    </th>
                </tr>
                <tr>
                    <th width="400">
                        <input type="submit" value="Nova Garagem">
                        <a href="/" type="button" class="btn btn-primary">voltar</a>
                    </th>
                </tr>
            </table>
        </form>
    <h3 align="center">
        {{ message }}
    </h3>
    {% else %}
            Você não está logado, clique
            <a href="/register" type="button" class="btn btn-primary">aqui</a>
            para criar uma conta ou faça o
            <a href="/accounts/login" type="button" class="btn btn-primary">login</a>.
    {% endif %}
</body>
</html>