<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{form.username}}</p>
        <p>Password: {{form.password}}</p>

        <p><input type="submit" = value="login"></p>
        <input type="hidden" name="next" value="{{next}}">
    </form>
    {% if form.errors %}
    <p> Usuário e/ou senha incorreto(s)!</p>
    {% endif %}

    {% if next %}
    <p> Você pode acessar a pagina!</p>
    {% endif %}
</body>
</html>