<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
        {% if user.is_authenticated %}
            Você já está logado, clique
            <a href="/" type="button" class="btn btn-primary">aqui</a>
            para retornar a pagina principal.
        {% else %}
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                {% for field in form %}
                    <p>{{ field.label }}
                    {{ field }}</p>
                {% endfor %}
                <input type="submit" value="Register">

                {% if form.errors %}
                <p> {{ form.errors }} </p>
                {% endif %}
            </form>
        {% endif %}
</body>
</html>